.works{
    text-align: center;
}
figure{
    width:103%;
    background-color: #f2f5f7;
    margin-bottom: 10%;
}
figure img{
    width:100%;
}
.soon{
    padding:10% 0;
}
figure .btn{
    margin-bottom: 5%;
}
figcaption{
    text-align: center;
    margin-top: 20px;
}
figcaption h4{
    font-weight:bolder;
}
