@font-face {
  font-family: courierNew;
  src: url(../fonts/cour.otf);
}
@font-face {
  font-family: courierBold;
  src: url(../fonts/courbd.otf);
}
/*Origin colors*/
/*Icon coloros for mainPage*/
.contactPage input,
.contactPage textarea {
  border: 1px solid #686868;
  border-radius: 0;
}
.contactPage input:focus,
.contactPage textarea:focus {
  outline: none;
  box-shadow: none;
}
.contactPage label {
  color: #686868;
  margin-top: 3%;
}
.contactPage label:not(:first-child) {
  margin-top: 3%;
}
.contactPage .submit {
  margin-top: 20px;
  width: 25%;
  border: none;
  border-radius: 0;
  background: #1d81e2;
  color: white;
  font-family: courierNew;
  font-size: 1.3em;
}
.contactPage .submit:hover {
  opacity: .7;
}
@media screen and (max-width: 769px) {
  .contactPage .submit {
    width: 100%;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
  }
}
