@font-face {
  font-family: courierNew;
  src: url(../fonts/cour.otf);
}
@font-face {
  font-family: courierBold;
  src: url(../fonts/courbd.otf);
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/SF.otf);
}
/*Origin colors*/
/*Icon coloros for mainPage*/
@font-face {
  font-family: Helvetica;
  src: url(../fonts/SF.otf);
}
.pricingPage #pricing {
  padding-bottom: 20%;
}
@media screen and (max-width: 1024px) {
  .pricingPage #pricing {
    padding-bottom: 45%;
  }
}
@media screen and (max-width: 769px) {
  .pricingPage #pricing {
    padding-bottom: 35%;
  }
}
@media screen and (max-width: 500px) {
  .pricingPage #pricing {
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 400px) {
  .pricingPage #pricing {
    padding-bottom: 79%;
  }
}
.pricingPage #pricing .green {
  color: #62d395;
}
.pricingPage #pricing h5 {
  font-family: courierNew;
  font-size: 0.6em;
  font-weight: 100;
}
.pricingPage #pricing h2 {
  font-family: courierNew;
  font-size: 1.35em;
  line-weight: 250%;
  font-weight: 100;
}
.pricingPage .fee {
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 80px;
  background-color: #f7f7f7;
}
.pricingPage .fee h2 {
  font-family: courierNew;
  font-size: 1.75em;
  line-weight: 200%;
  font-weight: 100;
}
.pricingPage .infoBlock h2 {
  margin-bottom: 5%;
}
.pricingPage .infoBlock h3 {
  font-family: courierBold;
  margin-bottom: 5%;
}
.pricingPage .infoBlock p {
  font-family: Helvetica;
  line-height: 200%;
}
.pricingPage .bigInfoBlock {
  margin-bottom: 5%;
}
.pricingPage .bigInfoBlock .icon-add-circle-1 {
  color: #e85657;
}
.pricingPage .bigInfoBlock .icon-check-circle-2 {
  color: #8fd69c;
}
.pricingPage .bigInfoBlock .icon-undo {
  color: #6b69d2;
}
.pricingPage .bigInfoBlock .icon-remove-circle-1 {
  color: #796357;
}
.pricingPage .bigInfoBlock h3 {
  font-family: courierNew;
  margin-bottom: 5%;
}
.pricingPage .bigInfoBlock p {
  font-family: Helvetica;
  line-height: 200%;
}
.pricingPage .bigInfoBlock .rightBlock {
  background: #e6f2e8;
  padding: 40px;
}
.pricingPage .bigInfoBlock .rightBlock div {
  margin: 20% 40%;
  width: 20% ;
  border-bottom: 2px dotted #303030;
}
.pricingPage .more {
  margin-top: 10% 0;
  margin-bottom: 10% 0;
}
.pricingPage .more .moreUnderline {
  border-bottom: 1px dashed #ccc;
}
.pricingPage .more .moreUnderline h3 {
  font-family: Helvetica;
  font-size: 1.1em;
  padding: 1em 0;
}
