@font-face {
  font-family: courierNew;
  src: url(../fonts/cour.otf);
}
@font-face {
  font-family: courierBold;
  src: url(../fonts/courbd.otf);
}
/*Origin colors*/
/*Icon coloros for mainPage*/
.productPage .headingPageProducts {
  margin-top: -20px;
  padding: 0;
}
.productPage .headingPageProducts a:hover {
  text-decoration: none;
  background: rgba(46, 44, 50, 0.95);
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
.productPage .headingPageProducts .versions {
  height: 500px;
  border: 1px dotted #ffffff;
  background: #2e2c32;
  padding: 10% 10%;
}
.productPage .headingPageProducts .versions h1 {
  font-size: 5em;
  color: #ffffff;
}
.productPage .headingPageProducts .versions h4 {
  color: #ababab;
  font-size: 1.4em;
}
.productPage .headingPageProducts .versions h5 {
  font-size: 1.2em;
  margin-top: 5%;
  color: #ffc21f;
}
.productPage .headingPageProducts .versions h5 span {
  color: #ababab;
}
@media screen and (max-width: 1024px) {
  .productPage .headingPageProducts .versions {
    height: 350px;
  }
  .productPage .headingPageProducts .versions h1 {
    font-size: 4em;
  }
  .productPage .headingPageProducts .versions h4 {
    font-size: 1em;
  }
  .productPage .headingPageProducts .versions h5 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 769px) {
  .productPage .headingPageProducts .versions {
    height: 300px;
  }
  .productPage .headingPageProducts .versions h1 {
    font-size: 3em;
  }
  .productPage .headingPageProducts .versions h4 {
    font-size: 1em;
  }
  .productPage .headingPageProducts .versions h5 {
    font-size: 1em;
  }
}
.productPage .pick p {
  font-family: Helvetica;
}
.productPage .infoBlock .icon-add-circle-1 {
  color: #e85657;
}
.productPage .infoBlock .icon-button-power-2 {
  color: #6b69d2;
}
.productPage .infoBlock .icon-undo {
  color: #e85657;
}
.productPage .infoBlock .icon-remove-circle-1 {
  color: #796357;
}
.productPage .infoBlock .icon-map-direction {
  color: #6ca4d6;
}
.productPage .businessContainer {
  background: #ffffff;
  padding-top: 8%;
  padding-bottom: 8%;
}
.productPage .businessContainer h2 {
  margin-top: 3%;
  color: #f4005c;
}
