@font-face {
  font-family: courierNew;
  src: url(../fonts/cour.otf);
}
@font-face {
  font-family: courierBold;
  src: url(../fonts/courbd.otf);
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/SF.otf);
}
/*Origin colors*/
/*Icon coloros for mainPage*/
.productPage .headingPageProducts {
  margin-top: -20px;
  padding: 0;
}
.productPage .headingPageProducts .versions {
  color: #ffffff;
  height: 500px;
  padding-top: 10%;
  border: 2px dashed #ffffff;
  border-: 0px dashed #ffffff;
  background: #3E3C42;
  padding: 3.5% 2.5%;
}
.productPage .headingPageProducts .versions h1 {
  padding-top: 12.5%;
  font-size: 4.2em;
  color: #ffffff;
  line-height: 150%;
}
.productPage .headingPageProducts .versions h4 {
  max-width: 400px;
  margin: 0 auto;
  line-height: 200%;
  font-size: 1.125em;
  font-family: courierNew;
  font-weight: 100 !important;
  color: #ffffff;
}
.productPage .headingPageProducts .versions h5 {
  font-family: courierNew;
  margin-top: 5%;
  font-size: 1.1em;
  color: #61D395;
  font-weight: 100;
  /*      border-bottom: 1px dotted transparent;
            width: 0px;
            transition: 0.5s ease;
            white-space: nowrap;
            height: 25px;
                &:hover{
                  border-bottom: 1px dotted #61D395;
                  width: 90px;

                }*/
}
@media screen and (max-width: 1024px) {
  .productPage .headingPageProducts .versions {
    height: 350px;
  }
  .productPage .headingPageProducts .versions h1 {
    font-size: 4em;
  }
  .productPage .headingPageProducts .versions h4 {
    font-size: 1em;
  }
  .productPage .headingPageProducts .versions h5 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 769px) {
  .productPage .headingPageProducts .versions {
    height: 300px;
  }
  .productPage .headingPageProducts .versions h1 {
    font-size: 3em;
  }
  .productPage .headingPageProducts .versions h4 {
    font-size: 1em;
  }
  .productPage .headingPageProducts .versions h5 {
    font-size: 1em;
  }
}
.productPage .pick h2 {
  padding-bottom: 5%;
}
.productPage .pick p {
  font-size: 1.1em;
  font-family: Helvetica;
  line-height: 200%;
}
.productPage .infoBlock .icon-add-circle-1 {
  color: #e85657;
}
.productPage .infoBlock .icon-button-power-2 {
  color: #6b69d2;
}
.productPage .infoBlock .icon-undo {
  color: #e85657;
}
.productPage .infoBlock .icon-remove-circle-1 {
  color: #796357;
}
.productPage .infoBlock .icon-map-direction {
  color: #6ca4d6;
}
.productPage .infoBlock p {
  font-family: Helvetica;
  line-height: 200%;
}
.productPage .businessContainer {
  background: #f7f7f7;
  padding-top: 8%;
  padding-bottom: 8%;
}
.productPage .businessContainer h1 {
  font-size: 2em;
}
.productPage .businessContainer h2 {
  font-size: 1.75em;
  margin-top: 3%;
  color: #f4005c;
}
.productPage .businessContainer h2:hover {
  color: #fca3c2;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
