@font-face {
  font-family: courier;
  src: url(fonts/CourierRegular.ttf);
}
body {
  padding-top: 140px;
  font-family: courier;
}
.navbar-inverse {
  background: #303030;
  height: 80px;
  margin-bottom: 140px;
  padding-top: 1%;
}
@media screen and (max-width: 769px) {
  .navbar-inverse {
    height: inherit;
  }
}
.navbar-inverse .nav li a {
  color: #ffffff;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
}
.navbar-inverse .nav li a:hover {
  color: #89c2ef;
}
.navbar-inverse .navbar-header {
  margin-left: 5%;
}
@media screen and (max-width: 769px) {
  .navbar-inverse .navbar-header {
    margin-left: 0;
  }
}
.navbar-inverse .navbar-header .navbar-brand {
  color: #ffffff;
}
.firstPage {
  color: #303030;
  height: 100%;
}
.firstPage h1 {
  font-weight: 100;
}
.firstPage .mainPageInfoRow {
  margin-top: 50px;
}
.firstPage .svg {
  width: 72%;
  margin-top: 4.5%;
  margin-left: 15%;
}
.firstPage .beginJorney {
  background: #ffffff;
  border: 1px solid #303030;
  border-radius: 0;
  width: 30%;
  margin-top: 50px;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
.firstPage .beginJorney:hover {
  background: #89c2ef;
  color: #ffffff;
}
@media screen and (max-width: 450px) {
  .firstPage .beginJorney {
    width: 45%;
  }
}
.firstPage .explore {
  background: none;
  margin-top: 100px;
}
.PageInfo {
  background: #efefef;
  border: 1px dashed #89c2ef;
  margin-top: 10px;
}
.greyHeading {
  padding-top: 20px;
  margin-top: 280px;
  margin-bottom: 50px;
  background: #efefef;
  height: 180px;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .greyHeading {
    height: 250px;
  }
}
#greyHeadingContent,
#greyHeadingContent1,
#greyHeadingContent2 {
  margin-top: -170px;
}
@media screen and (max-width: 450px) {
  #greyHeadingContent,
  #greyHeadingContent1,
  #greyHeadingContent2 {
    margin-top: -200px;
  }
}
.circles {
  margin-top: 50px;
}
.circles .circle {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 1px solid #303030;
  font-size: 2em;
  padding-top: 5%;
}
.bigButton {
  padding-top: 20px;
  margin-top: 200px;
  margin-bottom: 50px;
  background: #89c2ef;
  height: 150px;
  color: #ffffff;
  width: 100%;
  text-align: left;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
.bigButton:hover {
  color: #303030;
  background: #b1d7f4;
}
.footer a {
  color: #303030;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
}
.footer a:hover {
  text-decoration: none;
  color: #89c2ef;
}
.copyright {
  color: darkgray;
  font-size: .7em;
}
strong {
  font-weight: bolder;
}
@media screen and (max-width: 769px) {
  .footer .col-sm-12 p,
  .footer .col-sm-12 ul {
    text-align: center;
  }
}
