body{
  background: rgb(220,220,220);
}

/********
**topCard*
*********/
.cardClose .mdi-navigation-close{
  cursor: pointer;
}
.profileCompleetingCard .card{
  margin-left:-2%;
  width:104%;
}
.profileCompleetingCard .card-content .tellUs{
  font-size:1.2em;
  letter-spacing: .5px;
  font-weight:800;
}
.profileCompleetingCard .cardActions a{
  font-weight: 500;
  text-transform: uppercase;
}
.progress{
  height:10px;
}

/********
**profile*
*********/
.profileCard{
  padding-top:2%;
}
.profileCard .profilePic img{
  width:150px; 
  height:150px;
}
.profileCard .mainInfo{
  font-size:3em;
  font-weight:300;
}
.changeProfilePic{
  margin-top:4%;
  text-transform: uppercase;
}
.profileCard .profileOption,
.profileCard .profileOptionDescription,
.profileCard .changeProfilePic,
.profileCard .changePassword,
.profileCard .reviews{
  font-weight:500;
}

.profileCard .profileOptionDescription .children{
  padding-left: 0;
}

/********
**mobile*
*********/
@media only screen and (max-width : 601px){
  .profileCard .s12,
  .cardActions .s4{
    text-align: center;
  }
  #main-info,
  #reviews-info{
    padding-left: 3%;
  }
}
@media only screen and (max-width: 992px){
  .profilePic,
  .cardActions .s4{
    text-align: center;
  } 
}


.deleteProficeCancel{
  box-shadow: none;
}