@font-face {
  font-family: courier;
  src: url(fonts/CourierRegular.ttf);
}

@white: #FFF;
@black: #303030;
@grey: #efefef;
@hover: #89c2ef;


body { 
    padding-top: 70px; 
    font-family:courier;  
}
.navbar-inverse {    
    background:  @black;
    .navbar-brand,
    .nav li a {
        color: @white;
        &:hover {
            color:@hover ;
        }
    }
}

.firstPage{
    color:@black;
    .mainPageInfoRow{
        margin-top: 150px;
    }
    .beginJorney{
        background: @white;
        border: 1px solid @black;
        border-radius: 0;
        width: 20%;
        margin-top: 50px;
        &:hover{
            background: @hover;
            color:@white;
        }
    }
    .explore{
        background: @white;
        margin-top: 100px;
        width:50px; height:50px;
        padding-top: 13px;
        &:hover{
            border:1px solid @black;
            border-radius: 100%;
            background: @hover;
            color:@white;
        }
    }
}
.PageInfo{
    background: @grey;
    border:2px dashed @hover;
    margin-top: 10px;
}
.greyHeading{
    padding-top: 20px;
    margin-top: 200px;
    margin-bottom: 50px;
    background: @grey;
    height:180px;
}
.circles{
    margin-top: 50px;
    .circle{
        width:120px;
        height:120px;
        border-radius: 60px;
        border:1px solid @black;
        font-size:2em;
        padding-top:5%;
    }
}
.bigButton{
    padding-top: 20px;
    margin-top: 200px;
    margin-bottom: 50px;
    background: @hover;
    height:150px;
    color:@white;
    width:100%;
    text-align: left;
}

.footer a{
    color:@black;
    &:hover{
        text-decoration: none;
        color:@hover;
    }
}

.copyright{
    color:darkgray;
}

strong{
    font-weight: bolder;
}

@media screen and (max-width:769px){
    .footer .col-sm-12 p,
    .footer .col-sm-12 ul{
        text-align:center;
    }
    
}

@media screen and (max-width:450px){
    .greyHeading{
        height: 250px;
    }
}