.faqPage{
    .leftMenu{
        h3,a{
            font-family: Helvetica;
        }
        a{
            color:#f4005c;
            &:hover{
                text-decoration: none;
            }
        }
    }
    
    .faqAns{
        h1{
            font-size:2.8em;
        }
        p{
           font-family: Helvetica;
            font-size:1.15em;
        }
    }
}