@import "fonts-colors.less";

html, body{
    height:100%;
}

body {  
    font-family:courierNew;
    background: @bgGrey;
    padding-top: 100px;
    @media screen and (max-width:769px){
        padding-top: 70px;
    }
}

h1{font-size:2.25em;}//36px
h2{font-size:1.875em;}//30px
h3{font-size:1.5em;}//24px
h4{font-size:1.125em;}//18px
h5{font-size:0.875em;}//14px
h6{font-size:0.75em;}//12px


.navbar{
    background: @bgWhite;
    box-shadow: none;
    border-bottom: 1px solid @bgBlack;
    height:80px;
    padding-top: 1%;
    @media screen and (max-width:769px){
        height:initial;
        padding-top: 0;
    }
    
    .navbar-nav li a:not(.btnSignIn){
        font-family:courierBold;
        color: @fontBlack;
        &:hover{
            color:@fontBlue;
            transition: color .25s ease-in-out;
            -moz-transition: color .25s ease-in-out;
            -webkit-transition: color .25s ease-in-out;
        }
    }
    .navbar-nav li .btnSignIn{
        border-radius: 0;
        width:200px;
        border: 1px solid @bgBlue1;
        font-family:courierBold;
        &:hover{
            color:@fontWhite;
            background: @bgBlue1;
            transition: color .25s ease-in-out;
            -moz-transition: color .25s ease-in-out;
            -webkit-transition: color .25s ease-in-out;
            transition: background .25s ease-in-out;
            -moz-transition: background .25s ease-in-out;
            -webkit-transition: background .25s ease-in-out;
        }
    }
}

.footer a{
    color:@bgBlack;
    transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
       -webkit-transition: color .25s ease-in-out;
    font-family: courierBold;
    
    &:hover{
        text-decoration: none;
        color:@fontBlue;
    }
    .socials{
        font-size:1.25em;
    }
    
}

.copyright{
    color:darkgray;
    font-size:.7em;
}

@media screen and (max-width:769px){
    .footer .col-sm-12 p,
    .footer .col-sm-12 ul{
        text-align:center;
    }
    
}

